{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Top rated</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for book in books %}
        <div class="col">
            <div class="card bg-warning mx-auto" style="width: fit-content; margin-bottom: 5px;">
                <div class="card-header py-1">
                    {{ book.title }}
                    <div class="review-amount"> review: 455</div>
                    <a href="/books/{{ book.book_id }}">
                </div>
                <div class="card-img">

                    <img align="center" class="cover" src="{{ book.cover }}">
                </div>
                <div class="card-img-overlay">
                    <div style="vertical-align: middle; line-height: 260px;">
                        <img class="cover-icon" src="/static/pictures/icons/star.png">
                        <span class="rating">4,6</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Может быть когда-нибудь сделаю сортировку, но пока нет времени и надо сдать задание -->
    <!-- <div class="row">
        <div class="col">
            <h2>Latest reviewed / Most rated / Most reviewed</h2>
        </div>
    </div> -->

    <div class="row">
        <div style="height: 125px;"> </div>
    </div>
</div>
{% endblock %}
